html,body{
  color: #fff;
  background: #000;
  font-family: 'Roboto', sans-serif;
}
.btn-dark,.btn-secondary{
  background: #2A2728;
  background: -moz-radial-gradient(-45deg, #2A2728 0%, #6D6667 50%, #AFADB2 100%);
  background: -webkit-radial-gradient(-45deg, #2A2728 0%, #6D6667 50%, #AFADB2 100%);
  background: radial-gradient(135deg, #2A2728 0%, #6D6667 50%, #AFADB2 100%);
  box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}

.blueSig{
  background: #525252;  /* fallback for old browsers */
  background: -webkit-radial-gradient(#55fa, #000);  /* Chrome 10-25, Sa8ari 5.1-6 */
  background: radial-gradient(#55fa, #000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  box-shadow:#55fa 3px 3px 3px;
}
.pinkSig{
      background: #7b4397;  /* fallback for old browsers */
  background: -webkit-radial-gradient(#FF69B4aa, #000);  /* Chrome 10-25, Safari 5.1-6 */
  background: radial-gradient(#FF69B4aa, #000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  box-shadow:#FF69B4aa 3px 3px 3px;
}
.manSteel{
  background: #780206;  /* fallback for old browsers */
  background: -webkit-radial-gradient(#C0C0C0ff, #000);  /* Chrome 10-25, Safari 5.1-6 */
  background: radial-gradient(#C0C0C0ff, #000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  box-shadow: #C0C0C0ff 3px 3px 3px;
}
.default{
  background: #FE1A40;
  background: -webkit-radial-gradient(#f33a, #000);  /* Chrome 10-25, Safari 5.1-6 */
  background: radial-gradient(#f33a, #000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  box-shadow:#f33a 3px 3px 3px;
}