.myJumbotron{
    position: relative;
    color: #000;
    background-color:slategrey;
    box-shadow:black 3px 3px 3px;
    position:relative;
    width:100%;
    background-repeat: no-repeat;
    border-radius:0 !important  
}


#jumboLogo{
    position: absolute;
    top: 30%;
    left:5%;
}



@media screen and (max-width:1007px){
    .myJumbotron{
        background-position-y:0;
    }
    #jumboLogo{
        width:600px;
    }
}
@media screen and (max-width:504px){
    #jumboLogo{
        width:400px;
        height:200px;
        align-self:baseline;
    }
}