.head{
    color:white !important;
    text-decoration:underline;
    font-weight:bold;
    text-shadow:black 3px 3px 3px;
 }

#sense{
    color:crimson;
}
#intro{
    padding:0px 75px;
}
p,h3{
    text-shadow:#000a 4px 4px 10px;
    font-weight:bold;
    color:white !important;
}   
.testimonial{
    background:#fff4;
    width:500px;
    position:relative;
    
}
.testImg:hover{
    transform: scale(1.2);
}

@media screen and (max-width:1007px){
    .testimonial{
        /* margin:0px 0px 10px 0px !important; */
        margin:auto auto 20px !important;
        width:400px;
        flex-wrap:wrap;
    
    }
    .imgTest{
        display:flex;
        justify-content:center;
    }
    #jarvis{
        left:0% !important;
    }
}
header {
    position: relative;
    height: 50%;
    overflow: hidden;
    padding:0 !important;
  }
  
  .header__bg {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: skewY(-6deg);
    box-shadow:black 3px 3px 3px;

    transform-origin: top left;
    background-color: #f5f5f1;
    background-image: linear-gradient(315deg, #f5f5f1 0%, #e50914 74%);

  }
  .container{
      padding:0px;
  }
  h1 {
    margin: 0;
    padding: 75px 0;
    text-align: center;
    font-style:italic;
    text-shadow:black 10px 10px 10px;
    font-weight:bold !important;
  }
  
  header h1 {
    position: relative;
    color: white;
  }
  
