.myNavbar{
    border: 1px solid #000a;
    background: #0008;
    text-shadow:black 10px 10px 10px;
}

.myNavs a{
    color: #fff;
}

.myNavs a:hover{
    color: #fff5;
}
#accountName,#password{
    width:fit-content;
}