.myNavbar{
    border: 1px solid #000a;
    background: #000;
    text-shadow:black 10px 10px 10px;
}
#badge{
    padding:0 !important
}
.myNavs a{
    color: #fff;
}

.myNavs a:hover{
    color: #fff5;
}
#accountName,#password{
    width:fit-content;
}